<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.famousindiasocialnetwork">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.famousindiasocialnetwork.application.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">
        <service android:name="com.famousindiasocialnetwork.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.famousindiasocialnetwork.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.famousindiasocialnetwork.service.FirebaseChatService"
            android:enabled="true" />

        <!-- Branch init -->
        <!--<meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_kpxM1oAokHos5KOxa7wkTeijAsmDvj2j" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_lfzL9iFikJaTgIjLZKWEthejAAkvFL4g" />-->

        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_mjK9k4cQ2oF39rHEQDJr3abjAEci4W7B" />
        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.famousindiasocialnetwork.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="weshare" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                <data android:scheme="https" android:host="bnc.lt" android:pathPrefix="/5bLW" />
                <data android:scheme="https" android:host="bnc.lt" android:pathPrefix="/test_app_alpha_encoded_id" />
                -->
                <data
                    android:host="f9fo.app.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".activity.StripePaymentActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden" /> -->
        <activity
            android:name="com.famousindiasocialnetwork.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.famousindiasocialnetwork.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.famousindiasocialnetwork.activity.DetailHomeItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.famousindiasocialnetwork.activity.UserProfileDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.famousindiasocialnetwork.activity.FollowerFollowingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.famousindiasocialnetwork.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.famousindiasocialnetwork.activity.EditProfileActivityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1c0bc3be81312b1f2c2a5cf4c7637840a6f0e640" />

        <provider
            android:name="com.famousindiasocialnetwork.util.MyFileProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.famousindiasocialnetwork.activity.StatusActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.famousindiasocialnetwork.activity.StripePaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.famousindiasocialnetwork.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.famousindiasocialnetwork.activity.MessagesActivity"
            android:parentActivityName="com.famousindiasocialnetwork.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.famousindiasocialnetwork.activity.BookmarksActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.famousindiasocialnetwork.activity.ImageViewerActivity" />

        <service
            android:name="com.famousindiasocialnetwork.service.FetchMyUsersService"
            android:exported="false" />
    </application>

</manifest>